html { font-size: 10px;}
body {
    font-family: 'Lato', sans-serif;
}

header {
    color: white;
    background-image: url(../img/back2_sm.jpg);
    background-size: cover;
    padding: 1.2rem 1rem;
	text-align: right;
}

header h1 {
    padding: 10rem 0 1rem 0;
    font-family: 'Bree Serif', serif;
    font-size: 5rem;
    text-shadow: 2px 2px 2px rgba(0,0,0,.6);
}
header h2 {
    width: 100%;
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
    padding-top: 2rem;
    display: none;
    }

.logo {
    width: 15%;
}
.menu {
    width: 10%;
    height: 10%;
    align-self: center;
}
nav{
    background-color: #c33c33;
    border-bottom-left-radius: 1rem; 
    border-bottom-right-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

main{
    margin: 2rem auto;
    width: 80%;
    
}
article{
    border-radius: 1rem;
    background-color: #eee;
    padding-bottom: 10px;
    margin-bottom: 2rem;
    clear: both;
    overflow: auto;
}


article:nth-child(even) {
    background-color: white;
    box-shadow: 0.5px 0.5px 10px rgba(0,0,0,.6);
  }
  
article img {
    border-top-left-radius: 1rem; 
    border-top-right-radius: 1rem;
    margin-bottom: 1rem;
}

article h2{
    padding-top: 1rem;
}

article:nth-child(even) h2{
    color: #c33c33;
}

.small{
    width: 40%;
    float: right;
    padding-left: 1rem;
}


img {
    max-width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    font-size: 2.8em;
    font-family: 'Bitter', serif;
}
p {
    font-size: 1.6em;
    line-height: 1.4;
    margin-bottom: 1.5em;
    margin: 10px;
}

footer{
    background-color: #c33c33;
    color: white;
	text-align: center;
	font-style: italic;
	font-size: 1.2rem;
	padding: .5rem;
}